.body{
    border: 2px dotted red;
    height: 100%;
    width: 100%;
}

.formBody{
    position: relative;
    margin-left:  35%;
    height: 100%;
    width: 100%;
}

.formLabelName{
    margin-right: 10px;
    font-size: 25px;
}

.formLabelEmail{
    margin-right: 10px;
    font-size: 25px;
}

.formLabelPhone{
    margin-right: 10px;
    font-size: 25px;
}

.formLabelTown{
    margin-right: 10px;
    font-size: 25px;
}

.formLabelDescription{
    margin-right: 10px;
    font-size: 25px;
}

.formInput{
    height: 35px;
    width: 400px;
    margin-bottom: 20px;
    
}